@model IEnumerable<ActorsIndexViewModel>
@{
    ViewData["Title"] = "Index";
    var returnUrl=Context.Request.Path + Context.Request.QueryString;
        var searchTitle = "An Actor";
}

<div class="page-header row justify-content-between">
              <h3 class="page-title"> Actors </h3>
            </div>


           <partial name="SearchPartial" model="@searchTitle"/>

<div class="col-lg-12 grid-margin stretch-card mt-6">
                <div class="card">
                  <div class="card-body">
                       <h4 class="card-title">Actors Table</h4>
                    
                    
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th> Actor </th>
                          <th> Name </th>
                          <th> Gender </th>
                        </tr>
                      </thead>
                      <tbody>
                    @foreach(var actor in Model)
                    {
                         <tr>
                          <td class="py-1">
                            <img src="~/@actor.ImgUrl" alt="image">
                          </td>
                          <td> @actor.Name </td>
                          <td> @actor.Gender </td>
                          <td> 
                              <a asp-action="Edit"  asp-route-returnUrl="@returnUrl" asp-route-actorId="@actor.Id" class="btn btn-gradient-primary btn-rounded btn-fw">Edit</a>
                              <a asp-action="Details" asp-route-actorId="@actor.Id" class="btn btn-gradient-info btn-rounded btn-fw">Details</a>
                              <a asp-action="RemoveActor" asp-route-Id="@actor.Id" asp-route-returnUrl="@returnUrl" class="btn btn-gradient-danger btn-rounded btn-fw">Remove</a>
                              
                        </td>
                        </tr>
                    }
                </tbody>
                    </table>

                  </div>
                </div>
              </div>

              <partial name="PaginationPartial" />

               


